<!DOCTYPE html>
<html>

<head>
    <title>BackendBoilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <redoc spec-url="../swagger/v1/swagger.json"></redoc>

    <script src="../js/redoc.min.js"></script>
</body>

</html>
